// import of url and sass settings

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
$primary-color: #3b805d;
$secondary-color: black;
$third-color: gold;
$max-mobile-width: 600px;
$max-tablet-width: 1050px;

// whole page settings

* {
    margin: 0;
    padding: 0;
    padding-right: .5rem;
}

// body css settings for the about me section

body {
    font-family: 'Anton', sans-serif;
    color: $third-color;
}

// h1 settings

h1 {
    font-size: 7rem;
}

// h2 settings

body h2{
    font-size: 3rem;
    text-decoration: underline;
}

// main header settings where my nav links are set in

.main-header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: $secondary-color;
    box-shadow: 3px 3px 3px $third-color;
    z-index: 2;
}

// brand element settings

.main-header .brand {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}

// navigation element settings

.main-header .main-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

// settings for the nav link container 

.main-nav .nav-link {
    
    list-style: none;
    padding: .1rem;
}

// the link settings for the nav links themselves

.nav-link a {
    text-decoration: none;
    font-size: 1.5rem;
    color: $third-color;
}

// section settings

section {
    min-height: 100vh;
}

// title section parameters

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    box-shadow: 3px 3px 3px $third-color;
}

// background img container

.background-img {
    position: fixed;
    top: 0;
    z-index: -1;
}

// background img settings

.background-img img {
    object-fit: fill;
    max-width: 100%;
    height: 100vh;
}

// mask text settings

.background-img svg {
    font-family: "Anton";
    font-size: 10rem;
    font-weight: bold;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
}

// mask text parameters

.background-img svg text {
    transform-origin: center;
}

// mask rect link

.background-img svg rect {
    mask: url(#mask);
}

// mask color

.background-img svg mask rect {
    fill: white;
}

