// import of url and sass settings

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
$primary-color: #3b805d;
$secondary-color: black;
$third-color: gold;
$max-mobile-width: 600px;
$max-tablet-width: 1050px;

// whole page settings

* {
    margin: 0;
    padding: 0;
    padding-right: .5rem;
}

// body css settings for the about me section

body {
    font-family: 'Anton', sans-serif;
    color: $third-color;
}

img {
    display: flex;
    object-fit: contain;
    width: 100%;
}

// h1 settings

h1 {
    font-size: 7rem;
}

// h2 settings

body h2{
    font-size: 3rem;
    text-decoration: underline;
}

// main header settings where my nav links are set in

.main-header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: $secondary-color;
    box-shadow: 3px 3px 3px $third-color;
    z-index: 2;
}

// brand element settings

.main-header .brand {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}

// navigation element settings

.main-header .main-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

// settings for the nav link container 

.main-nav .nav-link {
    
    list-style: none;
    padding: .1rem;
}

// the link settings for the nav links themselves

.nav-link a {
    text-decoration: none;
    font-size: 1.5rem;
    color: $third-color;
}

// section settings

section {
    min-height: 100vh;
}

// title section parameters

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    box-shadow: 3px 3px 3px $third-color;
}

// background img container

.background-img {
    position: fixed;
    top: 0;
    z-index: -1;
}

// background img settings

.background-img img {
    object-fit: cover;
    max-width: 100%;
    height: 100vh;
}

// mask text settings

.background-img svg {
    font-family: "Anton";
    font-size: 10rem;
    font-weight: bold;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
}

// mask text parameters

.background-img svg text {
    transform-origin: center;
}

// mask rect link

.background-img svg rect {
    mask: url(#mask);
}

// mask color

.background-img svg mask rect {
    fill: white;
}

// article section layout

.article-section {
    background-color: $primary-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    grid-gap: 2rem;
    padding: 8rem;
    box-shadow: 3px 3px 3px $third-color;
}

// article layout

.article {
    display: grid;
    background-color: #dadada;
    color: $secondary-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    cursor: pointer;
    overflow: hidden;
}

// article img settings

.article img {
    grid-row: 1/2;
    width: 100%;
    transition: all ease-in-out 0.4s;
}

// article h3 settings

.article-body h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: all ease-in-out 0.3s;
}

// article body settings

.article .article-body {
    grid-row: 2/3;
    padding: 2rem;
    text-align: justify;
    transition: all ease-in-out 0.3s;
}

// article hover settings

.article:hover img {
    transform: scale(1.1);
}
.article:hover h3 {
    transform: translateY(-0.5em);
}
.article:hover .article-body {
    transform: translateY(0.5em);
}

// blog item settings

.blog-item {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

// blog h1 settings

.blog-description h1 {
    display: flex;
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

// blog section settings

.port-section {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: .3rem;
}

// blog container 

.container {
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

// blog paragraph settings

.blog-description {
    grid-row: 2/3;
    padding: .3rem;
}

// view details button settings

.blog-description .cta{
    display: inline-block;
    margin-top: .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

// blog img settings

.blog-img {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;

}

// source of img settings

.blog-img p{
    color: #dadada;
    font-size: .5rem;
}



// go to top buttom settings

.gotop {
    position: fixed;
    width: 23px;
    height: 30px;
    background: black;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    line-height: 40px;
    color: $primary-color;
    font-size: 50px;
}

// media queries settings home page

@media only screen and (max-width: $max-tablet-width) {
    .article-section {
        grid-template-columns: 1fr 1fr;
    }
    .article-section {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: start;
        grid-gap: 2rem;
        padding: 1rem;
        background-color: $primary-color;
        box-shadow: 3px 3px 3px $third-color;
    }
}

@media only screen and (max-width: $max-mobile-width) {
    h1 {
      font-size: 4rem;
    }
  }

@media only screen and (max-width: $max-mobile-width) {
    .main-header .brand{
      font-size: 1rem;
    }
  }

@media only screen and (max-width: $max-mobile-width) {
    .nav-link a{
      font-size: .9rem;
    }
  }

@media only screen and (max-width: $max-mobile-width) {
    h1{
      font-size: 3rem;
    }
  }

@media only screen and (max-width: $max-mobile-width) {
    .article-section {
        grid-template-columns: 1fr;
    }
    .article-section {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: start;
        grid-gap: 2rem;
        padding: 1rem;
        background-color: $primary-color;
        box-shadow: 3px 3px 3px $third-color;
    }
}

// media queries settings blog page

@media only screen and (min-width: $max-mobile-width) {
.blog-item:nth-child(even){
    .portfolio-img {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .blog-description{
        grid-column: 2/3;
        grid-row: 1/2;
    }
}
.blog-item:nth-child(odd){
    .blog-img {
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .blog-description{
        grid-column: 1/2;
        grid-row: 1/2;
    }
}
}

// media queries settings experience page

.exp-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
    grid-gap: 2rem;
    padding: 8rem;
    background-color: $primary-color;
    box-shadow: 3px 3px 3px $third-color;
}
.exp-article {
    display: grid;
    background-color: #dadada;
    color: #272727;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    overflow: hidden;
}

.exp-article img {
    align-self: center;
    object-fit: fill;
    grid-column: 1/2;
    width: 100%;
}

.exp-description h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.exp-article .exp-description {
    grid-column: 2/3;
    padding: 2rem;
    text-align: justify;
}

.exp-article:hover img {
    transform: scale(1.1);
}
.exp-article:hover h3 {
    transform: translateY(-0.5em);
}
.exp-article:hover .exp-description {
    transform: translateY(0.5em);
}



// social menu buttons

.social-menu ul {
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
    text-decoration: salmon;
}

.social-menu ul li .fab {
    font-size: 2rem;
    line-height: 60px;
    transition: .6s;
    color: $primary-color;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $third-color;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.8);
}

.social-menu ul li a:hover {
    transform: translate(0, -10px);
}



@media only screen and (max-width: $max-mobile-width) {
    mask{
        font-size: 4rem;
    }
    .exp-section {
        padding: 1rem;
        
    }
    .exp-section img {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
    }
    .exp-section .exp-description {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 2rem;
        text-align: justify;
    }
}

// media queries settings contact page